@font-face {
    font-family: 'Modeseven';
    font-style: normal;
    src: local('Modeseven'),
        url(@/assets/fonts/Modeseven-L3n5.ttf) format('truetype');
}

@font-face {
    font-family: 'Modenine';
    font-style: normal;
    src: local('ModeNine'),
        url(@/assets/fonts/Modenine-2OPd.ttf) format('truetype');
}

@font-face {
    font-family: 'DroidSans';
    font-style: normal;
    src: local('DroidSans'),
        url(@/assets/fonts/DroidSans.ttf) format('truetype');
}
